@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Roboto Mono", monospace;
    /* font-family: "Space Mono", monospace; */
    /* font-family: "Inconsolata", monospace; */
    font-weight: 400;
    font-style: normal;
    background: url("/src/assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* Dark mode scrollbar  */

::-webkit-scrollbar{
    cursor: pointer;
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background: rgb(170, 68, 37);
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(129, 38, 10);
}





